*{
margin: 0%;
padding: 0%;
}
.student-form{
max-width: 400px;
margin: 0 auto;
padding: 20px;
background-color: #f5f5f5;
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0, 0, 0.1); 
}
.student-form label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color:blueviolet ;
}
.student-form input[type="text"], .student-form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.student-form input:focus {
    outline: none;
    border-color: #007BFF;
}
.student-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: vertical;
}
.student-form textarea:focus {
    outline: none;
    border-color: #007BFF;
}
.student-form input:read-only {
    background-color: #f0f0f0;
}
.student-form teaxtarea {
    width: 100%;
    padding: 10px;
}
.student-form button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}
